<main class="flex bg-black min-h-screen">
  <app-sidebar class="max-w-56 w-full" />
  <div class="bg-white w-full p-6">
    <a routerLink="/physical-person/new" class="button-green"> Criar nova </a>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-6">
      <table class="w-full text-sm text-left rtl:text-right text-gray-400">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Nome</th>
            <th scope="col" class="px-6 py-3">Sobrenome</th>
            <th scope="col" class="px-6 py-3">Nascimento</th>
            <th scope="col" class="px-6 py-3">E-mail</th>
            <th scope="col" class="px-6 py-3">CPF</th>
            <th scope="col" class="px-6 py-3">RG</th>
            <th scope="col" class="px-6 py-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50">
            <th
              scope="row"
              class="px-6 py-4 font-medium whitespace-nowrap text-white"
            >
              Guilherme
            </th>
            <td class="px-6 py-4">Leandro</td>
            <td class="px-6 py-4">29/09/2009</td>
            <td class="px-6 py-4">guy&#64;gui.com</td>
            <td class="px-6 py-4">123.123.123-0</td>
            <td class="px-6 py-4">12.123.123-0</td>
            <td class="flex items-center gap-3 px-6 py-4">
              <a
                routerLink="/physical-person/view"
                class="font-medium text-green-500 hover:underline"
                >Visualizar</a
              >
              <a
                routerLink="/physical-person/edit"
                class="font-medium text-blue-500 hover:underline"
                >Editar</a
              >
              <button
                class="bg-none font-medium text-red-500 hover:underline"
                onclick="() => alert('aaa')"
              >
                Remover
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
