<nav
  class="flex flex-col w-full h-full justify-between py-8 px-6 border-r border-gray-500"
>
  <div class="flex flex-col gap-2">
    <a
      routerLink="/profile"
      class="min-w-full rounded-md text-white font-semibold p-2 hover:bg-gray-800 transition-all"
      routerLinkActive="selected-route"
    >
      Perfil
    </a>
    <a
      routerLink="/physical-person"
      class="min-w-full rounded-md text-white font-semibold p-2 hover:bg-gray-800 transition-all"
      routerLinkActive="selected-route"
    >
      Pessoas física
    </a>
  </div>
  <button class="button-red">
    Sair
  </button>
</nav>
