<main class="flex bg-black min-h-screen">
  <app-sidebar class="max-w-56 w-full" />
  <div class="bg-white w-full p-6">
    <a routerLink="/profile/edit" class="button-green">
      Editar perfil
    </a>
    <div class="mb-4 mt-6">
      <strong class="mb-2">Nome</strong>
      <p>Guilherme</p>
    </div>
    <div class="mb-4">
      <strong class="mb-2">Nome de usuário</strong>
      <p>Guirdy</p>
    </div>
    <div class="mb-4">
      <strong class="mb-2">E-mail</strong>
      <p>gui&#64;gui.com</p>
    </div>
    <div>
      <strong class="mb-2">Telefone</strong>
      <p>1170707070</p>
    </div>
  </div>
</main>
