<main class="flex bg-black min-h-screen">
  <app-sidebar class="max-w-56 w-full max-h-screen" />
  <div class="bg-white w-full p-6 overflow-auto max-h-screen">
    <div class="flex gap-2 items-center mb-6">
      <a routerLink="/physical-person" class="text-gray-700 text-sm">
        Pessoas física
      </a>
      <span>&#62;</span>
      <span class="text-gray-400 text-sm"> Criar nova </span>
    </div>
    <form class="w-full max-w-xl">
      <div class="border rounded-md p-6">
        <div class="flex gap-2 mb-3">
          <div class="flex flex-col w-full">
            <label for="name">Nome</label>
            <input
              type="text"
              id="name"
              required
              class="p-2 border rounded-md"
            />
          </div>

          <div class="flex flex-col w-full">
            <label for="lastName">Sobrenome</label>
            <input
              type="text"
              id="lastName"
              required
              class="p-2 border rounded-md"
            />
          </div>
        </div>

        <div class="flex flex-col mb-3">
          <label for="birthday">Nascimento</label>
          <input
            type="date"
            id="birthday"
            required
            class="p-2 border rounded-md"
          />
        </div>

        <div class="flex flex-col mb-3">
          <label for="email">E-mail</label>
          <input
            type="email"
            id="email"
            required
            class="p-2 border rounded-md"
          />
        </div>

        <div class="flex mb-3 gap-2">
          <div class="flex flex-col w-full">
            <label for="cpf">CPF</label>
            <input
              type="text"
              id="cpf"
              required
              class="p-2 border rounded-md"
            />
          </div>

          <div class="flex flex-col w-full">
            <label for="rg">RG</label>
            <input type="text" id="rg" required class="p-2 border rounded-md" />
          </div>
        </div>
      </div>

      <div class="border rounded-md p-6 mt-6">
        <strong class="mb-3 block">Endereços</strong>

        <div class="flex gap-2 mb-3">
          <div class="flex flex-col w-full">
            <label for="street">Rua</label>
            <input
              type="text"
              id="street"
              required
              class="p-2 border rounded-md"
            />
          </div>
          <div class="flex flex-col max-w-sm">
            <label for="number">Número</label>
            <input
              type="text"
              id="number"
              required
              class="p-2 border rounded-md"
            />
          </div>
        </div>
        <div class="flex gap-2 mb-3">
          <div class="flex flex-col w-full">
            <label for="postalCode">CEP</label>
            <input
              type="text"
              id="postalCode"
              required
              class="p-2 border rounded-md"
            />
          </div>
          <div class="flex flex-col max-w-sm">
            <label for="complement">Complemento</label>
            <input
              type="text"
              id="complement"
              required
              class="p-2 border rounded-md"
            />
          </div>
        </div>
        <div class="flex gap-2 mb-3">
          <div class="flex flex-col w-full">
            <label for="city">Cidade</label>
            <input
              type="text"
              id="city"
              required
              class="p-2 border rounded-md"
            />
          </div>
          <div class="flex flex-col max-w-sm">
            <label for="state">Estado</label>
            <input
              type="text"
              id="state"
              required
              class="p-2 border rounded-md"
            />
          </div>
        </div>

        <div class="flex justify-end mt-6">
          <button type="button" class="button-green">Adicionar</button>
        </div>
      </div>

      <div class="border rounded-md p-6 mt-6">
        <strong class="mb-3 block">Contatos</strong>

        <div class="flex gap-2 mb-3">
          <div class="flex flex-col w-full">
            <label for="contactName">Nome</label>
            <input
              type="text"
              id="contactName"
              required
              class="p-2 border rounded-md"
            />
          </div>
          <div class="flex flex-col max-w-sm">
            <label for="contactType">Tipo</label>
            <select name="contactType" id="contactType" class="p-2 border rounded-md">
              <option value=""></option>
              <option value="Email">E-mail</option>
              <option value="Phone">Telefone</option>
            </select>
          </div>
        </div>

        <div class="flex flex-col w-full">
          <label for="emailOrPhone">E-mail ou Telefone</label>
          <input
            type="text"
            id="emailOrPhone"
            required
            class="p-2 border rounded-md"
          />
        </div>


        <div class="flex justify-end mt-6">
          <button type="button" class="button-green">Adicionar</button>
        </div>
      </div>
    </form>
  </div>
</main>
