<main class="flex bg-black min-h-screen">
  <app-sidebar class="max-w-56 w-full" />
  <div class="bg-white w-full p-8">
    <div class="flex gap-2 items-center mb-6">
      <a routerLink="/profile" class="text-gray-700 text-sm"> Perfil </a>
      <span>&#62;</span>
      <span class="text-gray-400 text-sm"> Editar perfil </span>
    </div>

    <div class="flex flex-col mb-3">
      <label for="name">Nome</label>
      <div class="flex gap-2">
        <input
          type="text"
          id="name"
          required
          class="p-2 border rounded-md"
        />
        <button class="button-blue">Editar</button>
      </div>
    </div>

    <div class="flex flex-col mb-3">
      <label for="userName">Nome de usuário</label>
      <div class="flex gap-2">
        <input
          type="text"
          id="userName"
          required
          class="p-2 border rounded-md"
        />
        <button class="button-blue">Editar</button>
      </div>
    </div>

    <div class="flex flex-col mb-3">
      <label for="email">E-mail</label>
      <div class="flex gap-2">
        <input
          type="email"
          id="email"
          required
          class="p-2 border rounded-md"
        />
        <button class="button-blue">Editar</button>
      </div>
    </div>

    <div class="flex flex-col mb-3">
      <label for="phone">Telefone</label>
      <div class="flex gap-2">
        <input
          type="text"
          id="phone"
          required
          class="p-2 border rounded-md"
        />
        <button class="button-blue">Editar</button>
      </div>
    </div>
  </div>
</main>
